<h1>Home</h1>

<p><%= link_to "Trades", trades_path %></p>
<p><%= link_to "New Trade", new_trade_path %></p>
<p><%= link_to "Admin", admin_index_path %></p>
<p><%= link_to "Custom", new_custom_alert_path %></p>
