<div class="legal-container">
<h1>Important Legal Information</h1>

<p>Forex Bot has been designed for informational and educational purposes only and does not constitute an offer to sell nor a solicitation of an offer to buy any security which may be referenced upon the app. The services and information provided through this app are for personal, non-commercial, educational use and display. Forex Bot does not provide investment advice through this app and does not represent that the securities or services discussed are suitable for any investor. Investors are advised not to rely on any information contained in the app in the process of making a fully informed investment decision.</p>

<p>Forex Bot may include market analysis. All ideas, opinions, and/or forecasts, expressed or implied herein, information, charts or examples contained in the lessons, are for informational and educational purposes only and should not be construed as a recommendation to invest, trade, and/or speculate in the markets. Any investments, trades, and/or speculations made in light of the ideas, opinions, and/or forecasts, expressed or implied herein, are committed at your own risk, financial or otherwise.</p>

<p>Forex Bot does not render tax or legal advice. Forex Bot does not, and the information found on this app does not make any offer to solicit, deal in, sell or dispose of any security for valuable consideration, and does not make any advisement in the furtherance of an order to buy or sell a security. The use of the app is agreement that the app is for informational and educational purposes only and does not constitute advice in any form in the furtherance of any trade or trading decisions.</p>

<p>The accuracy, completeness and timeliness of the information contained on this app cannot be guaranteed. Forex Bot does not warranty, guarantee or make any representations, or assume any liability with regard to financial results based on the use of the information in the app.</p>

<p>Forex Bot has links to and from many apps for the convenience and benefit of the user. News, views, opinions, recommendations and other information obtained from sources outside of Forex Bot and used in this app are believed to be reliable, but we cannot guarantee their accuracy or completeness. All such information is subject to change at any time without notice. Forex Bot assumes no responsibility for the content of any linked apps. The fact that such links may exist does not indicate approval or endorsement of any material contained on any linked apps.</p>

<p>Forex Bot is not liable for any harm caused by the transmission, through accessing the services or information on this app, of a computer virus, or other computer code or programming device that might be used to access, delete, damage, disable, disrupt or otherwise impede in any manner, the operation of the app or of any user’s software, hardware, data or property.</p>

<p>Past performance will not and does not guarantee future performance. Investors are advised to take the services of a competent ‘Investment Adviser’, before making any investment decision.</p>

<p><strong>The use of this app is at your own risk.</strong></p>
</div>
